.searchContainer {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    height: 100vh; /* 전체 화면 높이 */
    text-align: center; /* 텍스트 중앙 정렬 */
    background-color: #ffffff; /* 배경 색상 설정 */
    margin: 0; /* 여백 제거 */
    font-size: 40px;
  }
  
  form {
    display: flex; /* flexbox 사용 */
    align-items: center; /* 수직 중앙 정렬 */
  }
  
  input[type="text"] {
    font-size: 20px;
    padding: 15px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* 버튼과 입력 필드 사이의 여백 */
  }
  
  button {
    padding: 15px 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #555;
  }